<h1>Hello Dear {{name}}</h1>
<h2>Please click below to confirm your email </h2>
<h1> Ey Oybek yaxshilab kuchirsang bulamaydiami</h1>
<p>
    <a href='{{url}}'> Confirm</a>
</p>
<p>if you did not request this email you can safely ignore it.</p>
